body {
  margin: 0;
}

.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dbdbdb;
}

.topbarLeft {
  flex: 4;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-right: 20px;
  font-weight: bold;
}

.searchbar {
  width: 80%;
  height: 44px;
  background-color: #efefef;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.searchIcon {
  font-size: 22px !important;
  margin-left: 15px;
  margin-right: 8px;
  color: #8e8e8e;
}

.searchInput {
  font-family: sans-serif;
  font-size: 17px;
  color: #8e8e8e;
  background-color: #efefef;
  border: none;
  width: 70%;
  height: 10px;
  resize: none;
  overflow: auto;
}

.searchInput:focus {
  outline: none;
}

.searchInput::placeholder {
  color: #8e8e8e;
  font-size: 17px;
}
.topbarCenter {
  flex: 3;
  display: flex;
  justify-content: center;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: green; */
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
}

.topbarIcon {
  font-size: 30px !important;
}
